<%- include('header') %>

<div class="card mt-3">
    <div class="card-body">
        <div class="card-title">เบิกสินค้าออกจากสต๊อก</div>
        <form method="post">
            <div class="mt-3">
                <label>บาร์โค้ดสินค้า</label>
                <input type="text" name="product_barcode" class="form-control" />
            </div>
            <div class="mt-3">
                <label>จำนวน</label>
                <input type="text" name="qty" class="form-control" value="1" />
            </div>
            <div class="mt-3">
                <label>หมายเหตุ</label>
                <input type="text" name="remark" class="form-control" />
            </div>
            <div class="mt-3">
            <button type="submit" class="btn btn-info">
                Save
            </button>
        </div>
        </form>
        <table class="mt-3 table table-bordered table-stiped">
            <thead>
                <tr>
                    <td width="50px"></td>
                    <th>barcode</th>
                    <th>รายการสินค้า</th>
                    <th class="text-right">จำนวน</th>
                    <th>วันที่เบิกออกจากสต๊อก</th>
                    <th>หมายเหตุ</th>
                </tr>
            </thead>
            <tbody>
                <% stockOuts.forEach(item => { %>
                <tr>
                <td class="text-center">
                    <a class="btn btn-danger" href="/deleteExportStock/<%= item.id %>" onclick="return confirm('ยืนยันการลบ')">
                        <span class="icons material-symbols-outlined">
                            close
                            </span>
                    </a>
                </td>
                <td><%= item.barcode %></td>
                <td><%= item.name %></td>
                <td class="text-right"><%= item.qty %></td>
                <td><%= dayjs(item.created_date).format(dayFormat) %></td>
                <td><%= item.remark %></td>
                </tr>
                <% }) %>
            </tbody>
        </table>
    </div>
</div>

<%- include('footer') %>