<%- include('header') %>
<div class="card mt-3">
    <div class="card-body">
        <div class="card-title">สินค้า</div>
        <div class="mt-3">
            <a class="btn btn-info" href="/addProduct">
                <span class="icons material-symbols-outlined">
                    add
                    </span>
                เพิ่มรายการ
            </a>
        </div>
        <div class="mt-3">
            <table class="table table-bordered table-stiped">
                <thead>
                    <tr>
                        <th width="140px"></th>
                        <th>ภาพสินค้า</th>
                        <th>ประเภทสินค้า</th>
                        <th>บาโค้ด</th>
                        <th>รายการสินค้า</th>
                        <th class="text-right">ราคาทุน</th>
                        <th class="text-right">ราคาจำหน่าย</th>
                    </tr>
                </thead>
                <tbody>
                    <% product.forEach((product) => { %>
                        <tr>
                            <td>
                                <a class="btn btn-info" href="/editProduct/<%= product.id %>">
                                    <span class="icons material-symbols-outlined">
                                        edit
                                        </span>
                                </a>
                                <a class="btn btn-danger" href="/deleteProduct/<%= product.id %>/<%= product.img %>" onclick="return confirm('Are you sure delete')">
                                    <span class="icons material-symbols-outlined">
                                        close
                                        </span>       
                            </td>
                            <td><img src="images/<%= product.img %>" width="100px"></td>
                            <td><%= product.group_product_name %></td>
                            <td><%= product.barcode %></td>
                            <td><%= product.name %></td>
                            <td class="text-right"><%= numeral(product.cost).format() %></td>
                            <td class="text-right"><%= numeral(product.price).format() %></td>
                        </tr>
                        <% }) %>
                </tbody>
            </table>
        </div>
    </div>
</div>

<%- include('footer') %>